{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container py-4">

    <div class="card shadow rounded-4 border-0">

        <div class="card-header bg-primary text-white">

            {% if edit %}
                ✏️ Edit Announcement
            {% else %}
                📢 New Announcement
            {% endif %}

        </div>

        <div class="card-body">

            <h5>{{ room.name }}</h5>

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <label class="form-label fw-bold">Title</label>

                {{ form.title }}

                <br>

                <label class="form-label fw-bold">Content</label>

                {{ form.content }}

                <br>

                <label class="form-label fw-bold">Attachment</label>

                {{ form.attachment }}

                <div class="mt-4">

                    <button class="btn btn-primary">
                        📢 Publish Announcement
                    </button>

                    <a href="{% url 'room_detail' room.id %}"
                       class="btn btn-secondary">
                        Cancel
                    </a>

                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}