{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body">

            <h2>✏ Edit Message</h2>

            <hr>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-primary">
                    Update Message
                </button>

                <a href="{% url 'room_detail' form.instance.room.id %}"
                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}