{% extends 'base.html' %}

{% block content %}

<div class="container text-center mt-5">

    <h1 class="display-3 fw-bold">
        Welcome to StudyHub AI
    </h1>

    <p class="lead mt-4">
        Study Together. Stay Focused.
    </p>

    <p class="text-muted">
        The best platform for students to study together,
        manage tasks and stay productive.
    </p>

    <div class="mt-4">

        <a href="#" class="btn btn-primary btn-lg">
            Get Started
        </a>

        <a href="#" class="btn btn-outline-dark btn-lg ms-2">
            Explore Rooms
        </a>

    </div>

</div>


{% endblock %}