{% extends "base.html" %}
{% block content %}

<div class="container py-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>

            <h2 class="fw-bold">📝 Assignments</h2>
            <p class="text-muted">{{ room.name }}</p>

        </div>

        {% if request.user == room.host %}

        <a
            href="{% url 'create_assignment' room.id %}"
            class="btn btn-primary">

            ➕ Create Assignment

        </a>

        {% endif %}

    </div>


    <div class="row g-4">

        {% for assignment in assignments %}

        <div class="col-lg-6">

            <div class="card shadow border-0 rounded-4 h-100">

                <div class="card-body">

                    <div class="d-flex justify-content-between">

                        <span class="badge bg-warning text-dark">
                            {{ assignment.total_marks }} Marks
                        </span>

                        {% if assignment.is_overdue %}

                        <span class="badge bg-danger">
                            Deadline Passed
                        </span>

                        {% else %}

                        <span class="badge bg-success">
                            Active
                        </span>

                        {% endif %}

                    </div>


                    <h4 class="fw-bold">
                        <a href="{% url 'assignment_detail' assignment.id %}"
                        class="text-decoration-none text-dark">

                            {{ assignment.title }}

                        </a>
                    </h4>

                    <p class="text-muted">
                        {{ assignment.description|truncatechars:120 }}
                    </p>


                    <p class="mb-1">
                        📅 Due:
                        <strong>
                            {{ assignment.due_date|date:"d M Y h:i A" }}
                        </strong>
                    </p>


                    <p class="mb-3">
                        👤 {{ assignment.created_by.username }}
                    </p>


                    <a
                        href="{% url 'assignment_detail' assignment.id %}"
                        class="btn btn-outline-primary w-100">

                        View Assignment

                    </a>

                </div>

            </div>

        </div>

        {% empty %}

        <div class="text-center py-5">

            <div style="font-size:60px;">
                📚
            </div>

            <h3>No Assignments Yet</h3>

            <p>Create the first assignment for this room.</p>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}